.hero{
    position: relative;
    #hero-img-background{
        position: absolute;
        background-image: url('/app/img/services/Rectangle\ 1.png');
        background-position: center;
        background-repeat: none;
        background-size: cover;
        height: 500px;
        color: white;
        opacity: 50%;
    }
    #hero-img-filter{
        position: absolute;
        background-image: url('/app/img/hero/Group\ 203.png');
        background-position: center;
        background-repeat: none;
        background-size: cover;
        height: 500px;
    }
    .hero-head{
        position: relative;
        z-index: 2;
        height: 500px;
        display: flex;
        align-items: center;
        p, h3{
            color: #1F2B6C;
        }
        p{
            @include title;
            font-weight: 20;
        }
        h3{
            @include display1;
            font-size: 4rem;
    
        }
    }
}