.quote{
    position: relative;
    margin: 100px 0;
    #quote-background{
        position: absolute;
        background-image: url('/app/img/aboutUs/Testimonials.png');
        background-position: center;
        background-repeat: none;
        background-size: cover;
        height: 600px;
    }
    #quote-filter{
        position: absolute;
        z-index: 2;
        background-color: #1F2B6C;
        opacity: 50%;
        height: 600px;
    }
    .quote-content{
        position: relative;
        z-index: 4;
        height: 600px;
        color: white;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .symbol{
            font-size: 9rem;
        }
        p, h3{
            @include body2;
            font-weight: 20;
            font-size: 2rem;
            margin: 10px 0;
        }
        .box-space{
            display: flex;
            justify-content: center;
            hr{
                width: 500px;
                color: aliceblue;
            }
        }
        .dot-quote-content {
            text-align: center;
            margin: 20px 0;
    
            .dot-quote {
                cursor: pointer;
                height: 20px;
                width: 20px;
                margin: 0 2px;
                background-color: white;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
            }
    
            .dot-quote-active,
            .dot-quote:hover {
                background-color: #BFD2F8;
            }
        }
    }
    

}